[user]
	name = nihique
	email = kovarik.martin@gmail.com
[github]
	user = nihique
	token = 7a9b663b8240f0042a464b3c344c40b7
[core]
	autocrlf = input
	editor = gvim
[color]
	diff = auto
	status = auto
	branch = auto
[color "status"]
	changed = yellow
	added = green
	untracked = red
